@import url(https://fonts.bunny.net/css?family=lora:400,400i,700,700i|roboto:400,400i,500,500i,700,700i,900,900i);
:root {
  --light-gray: #f9f9f9;
  --dark-gray: #828282;
}

:root {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: flex;
  height: 100vh;
  width: 100%;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
}